*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
}
/* Tar bort pilarna i inputfält för siffror */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container{
    position: relative;
    width: 70%;
    height: 100%;
    left: 15%;
    background-color: whitesmoke;
} 
.budget-header{
    height: 284px;

}
.saldo{
    text-align: center;
    font-size: 2vw;
    line-height: 1.5em;
    position: absolute;
    top: 10%;
    right: 47%;
}
.konto .inkomst{
    text-align: center;
    font-size: 2vw;
    line-height: 1.5em;
    position: absolute;
    top: 20%;
    right: 20%;
}
.konto .kostnad{
    text-align: center;
    font-size: 2vw;
    line-height: 1.5em;
    position: absolute;
    top: 20%;
    left: 20%;
}
.konto .total-kostnad{
    color: red;
}
@import 'All.scss';
@import 'Dashboard.scss';
@import 'Inkomst.scss';
@import 'Kostnad.scss';

