*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
}
/* Tar bort pilarna i inputfält för siffror */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container{
    position: relative;
    width: 70%;
    height: 100%;
    left: 15%;
    background-color: whitesmoke;
} 
.budget-header{
    height: 250px;
}
.saldo{
    text-align: center;
    font-size: 2vw;
    line-height: 1.5em;
}
.konto .total-kostnad{
    color: red;
}